@charset "utf-8";

html, body {margin: 0;height: 100%;min-height: 100%;}

@font-face {
    font-family: 'gilroythin';
    src: url('../fonts/gilroy-thin-webfont.eot');
    src: url('../fonts/gilroy-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-thin-webfont.woff') format('woff'),
         url('../fonts/gilroy-thin-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-thin-webfont.svg#gilroythin') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gt: 'gilroythin';

@font-face {
    font-family: 'gilroyextrabold';
    src: url('../fonts/gilroy-extrabold-webfont.eot');
    src: url('../fonts/gilroy-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-extrabold-webfont.woff') format('woff'),
         url('../fonts/gilroy-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-extrabold-webfont.svg#gilroyextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$geb: 'gilroyextrabold';

@font-face {
    font-family: 'gilroymedium';
    src: url('../fonts/gilroy-medium-webfont.eot');
    src: url('../fonts/gilroy-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-medium-webfont.woff') format('woff'),
         url('../fonts/gilroy-medium-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-medium-webfont.svg#gilroymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gm: 'gilroymedium';

@font-face {
    font-family: 'gilroyultralight';
    src: url('../fonts/gilroy-ultralight-webfont.eot');
    src: url('../fonts/gilroy-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-ultralight-webfont.woff') format('woff'),
         url('../fonts/gilroy-ultralight-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-ultralight-webfont.svg#gilroyultralight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroyblack';
    src: url('../fonts/gilroy-black-webfont.eot');
    src: url('../fonts/gilroy-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-black-webfont.woff') format('woff'),
         url('../fonts/gilroy-black-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-black-webfont.svg#gilroyblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gbl:'gilroyblack';

@font-face {
    font-family: 'gilroybold';
    src: url('../fonts/gilroy-bold-webfont.eot');
    src: url('../fonts/gilroy-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-bold-webfont.woff') format('woff'),
         url('../fonts/gilroy-bold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-bold-webfont.svg#gilroybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gb: 'gilroybold';

@font-face {
    font-family: 'gilroylight';
    src: url('../fonts/gilroy-light-webfont.eot');
    src: url('../fonts/gilroy-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-light-webfont.woff') format('woff'),
         url('../fonts/gilroy-light-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-light-webfont.svg#gilroylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gl: 'gilroylight';

@font-face {
    font-family: 'gilroysemibold';
    src: url('../fonts/gilroy-semibold-webfont.eot');
    src: url('../fonts/gilroy-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-semibold-webfont.woff') format('woff'),
         url('../fonts/gilroy-semibold-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-semibold-webfont.svg#gilroysemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

$gsb:'gilroysemibold';

@font-face {
    font-family: 'gilroyregular';
    src: url('../fonts/gilroy-regular-webfont.eot');
    src: url('../fonts/gilroy-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gilroy-regular-webfont.woff') format('woff'),
         url('../fonts/gilroy-regular-webfont.ttf') format('truetype'),
         url('../fonts/gilroy-regular-webfont.svg#gilroyregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$rc: 'gilroyregular';
$ps: 'gilroyregular';

$siteWidth: 1200px;                      // Ширина
$siteMinWidth: 340px;                   // Минимальная ширина

$siteFontFamily: $rc, arial;                 // Основное семейство
$siteFontSize: 20px;                    // Основной размер


$H1Size: $siteFontSize*2;               // Размер заголовка

$siteColor: #fff;                       // Цвет шрифта
$linkColor: #7358da;                       // Цвет ссылок
$HnColor: #fff;                         // Цвет заголовка

body {
    position: relative;
    min-width: $siteMinWidth;
    text-align: left;
    color: $siteColor;
    font: $siteFontSize $siteFontFamily;
    line-height: 1;
    background: #1d1d22;
}

h1, h2, h3, h4, h5, h6 {
    color: $HnColor;
    font-family: $ps, $siteFontFamily;
    font-weight: 400;
    font-style: normal;
}

h1 {margin-top: 0; font-size: $H1Size;}
h2 {font-size: round($H1Size - 2);}
h3 {font-size: round($H1Size - 4);}
h4 {font-size: round($H1Size - 6);}
h5 {font-size: round($H1Size - 8);}
h6 {font-size: round($H1Size - 9);}
h5, h6 {font-size: round($H1Size - 10);}


@media all and (max-width: 1024px) {
    h1 {margin-top: 0; font-size: 28px;}
    h2 {font-size: 26px;}
    h3 {font-size: 24px;}
    h4 {font-size: 22px;}
    h5 {font-size: 20px;}
    h6 {font-size: 18px;}
    h5, h6 {font-size: 16px;}
}

a {text-decoration: underline; color: $linkColor;}
a:hover {text-decoration: none;}

a img {border-color: $siteColor;}


a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
    cursor: default;
}

img, textarea, input, table {
    max-width: 100%;
}

.site_wrapper {
   display: flex;
   flex-direction: column;
}

*{
    box-sizing: border-box;
}

.block_inner {
    max-width: $siteWidth;
    margin: 0 auto;
}

.col2-field {

    @media all and (min-width: 768px) {
        display: flex;

        .field {
            flex: 0 0 calc(50% - 8px);
            margin-right: 16px;

            &:nth-child(2){
                margin-right: 0;
            }
        }
    }
}

.oveflowHidden {
    overflow: hidden;
}

.field {
    margin-bottom: 40px;
    position: relative;

    @media all and (max-width: 1000px) {
        margin-bottom: 20px;
    }

    input[type="text"],input[type="password"],input[type="tel"]  {
        width: 100%;
        padding: 0;
        height: 76px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        border: none;
        border-bottom: 1px solid #8c8c8e;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    select {
        width: 100%;
        padding: 0;
        height: 76px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        border: none;
        border-bottom: 1px solid #8c8c8e;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    textarea {
        width: 100%;
        padding: 10px 0;
        height: 120px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 25px;
        color: #fff;
        border: none;
        border-bottom: 1px solid #8c8c8e;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        transition: all 0.3s;
    }

    .field_name {
        font-weight: 700;
        font-size: 16px;
        line-height: 95%;
        color: #242424;
        padding-bottom: 15px;
    }

    &.checkbox {
        label {
            position: relative;
            padding-left: 40px;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            color: #fff;
            cursor: pointer;
            display: inline-block;

            input {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
            }

            span {
                position: absolute;
                top: 2px;
                left: 0;
                width: 20px;
                height: 20px;
                border: 2px solid #7728e6;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                transition: all 0.3s;
                z-index: 1;
            }

            input:checked + span {
                background-color: #7728e6;
                border-color: #7728e6;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.6666 3.5L5.24992 9.91667L2.33325 7' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                
            }
        }
    }

    &.radio {

        ul {
            padding: 2px 0;
            margin: 0;
            list-style: none;
            max-height: 190px;
            overflow: auto;

            li {
                margin-bottom: 10px;

                label {
                    position: relative;
                    padding-left: 30px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1;
                    color: #242424;
                    cursor: pointer;
                    display: inline-block;

                    input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                    }

                    span {
                        position: absolute;
                        top: -2px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        border: 2px solid #747576;
                        background-color: #fff;
                        border-radius: 50%;
                        z-index: 1;

                        &:before {
                            content: '';
                            transition: all 0.3s;
                            position: absolute;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            width: 10px;
                            height: 10px;
                            margin: auto;
                            background: #183E98;
                            opacity: 0;
                            border-radius: 50%;
                        }
                    }

                    input:checked + span {
                        border-color: #183E98;

                        &:before {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}

.jq-selectbox.jqselect {
    display: block !important;
    width: 100%;

    .jq-selectbox__select {
        width: 100%;
        padding: 18px 16px 17px;
        height: 60px;
        background: none;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        text-transform: uppercase;
        color: #78B82A;
        border: 1px solid #78B82A;
        box-sizing: border-box;
        border-radius: 0;
        outline: none;
        font-family: $rc;
        position: relative;
        cursor: pointer;

        .jq-selectbox__select-text {
            width: 100% !important;
            margin: 0;
        }

        .jq-selectbox__trigger {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 24px;
            width: 12px;
            height: 12px;
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 3.66528L6.01136 9.65392L5.05129 8.69385L11.0399 2.70521L12 3.66528Z' fill='%2378B82A'/%3E%3Cpath d='M5.98877 9.63599L0.000131678 3.64734L0.960205 2.68727L6.94884 8.67591L5.98877 9.63599Z' fill='%2378B82A'/%3E%3C/svg%3E%0A");
            background-position: 50%;
            background-repeat: no-repeat;
            margin: auto;
        }
    }

    .jq-selectbox__dropdown {
        top: 100% !important;
        border: 1px solid #78B82A;
        background: #000;
        left: 0 !important;
        right: 0 !important;
        bottom: auto !important;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                padding: 18px 16px 17px;
                font-size: 22px;
                text-transform: uppercase;
                color: #78B82A;
                cursor: pointer;

                &:hover,&.sel {
                    color: #fff;
                }
            }
        }
    }
}


.burger {
    flex: 0 0 44px;
    z-index: 71;
    width: 44px;
    height: 44px;
    background: #fff url("data:image/svg+xml,%3Csvg width='21' height='18' viewBox='0 0 21 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.222168' y='0.445312' width='13.4444' height='2.44444' fill='%237358da'/%3E%3Crect x='16.1113' y='0.445312' width='4.88889' height='2.44444' fill='%237358da'/%3E%3Crect x='5.11133' y='7.77734' width='15.8889' height='2.44444' fill='%237358da'/%3E%3Crect x='0.222168' y='7.77734' width='2.44444' height='2.44444' fill='%237358da'/%3E%3Crect x='7.55566' y='15.1133' width='13.4444' height='2.44444' fill='%237358da'/%3E%3Crect x='0.222168' y='15.1133' width='4.88889' height='2.44444' fill='%237358da'/%3E%3C/svg%3E%0A") 50% no-repeat;
    box-sizing: border-box;
    cursor: pointer;
    display: none;
    position: relative;
    border-radius: 50%;

    @media all and (max-width: 1000px)  {
        display: block;
    }
}

.form-popup-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    background: rgba(#1E193D, 0.2);
    transition: all 0.5s;
    padding: 100px 40px 40px 40px;

    @media all and (max-width: 767px) {
        padding: 0;
    }

    @media all and (min-width: 768px) {

        &:before {
            height: 100%;
            display: inline-block;
            vertical-align: middle;
            content: '';
        }
    }

    &.opened {
        opacity: 1;
        visibility: visible;
    }

    .formExtraWrapper {
        width: 588px;
        margin: auto;
        position: relative;   
        display: inline-block;
        white-space: normal;
        vertical-align: middle;
        text-align: left; 
        z-index: 10;    

        @media all and (max-width: 767px) {
            width: 300;
            display: block;
        }

        .close-form {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 26px;
            height: 26px;
            background: 50% url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='%23322D50'/%3E%3C/svg%3E%0A") no-repeat;
            cursor: pointer;
            z-index: 101;
        }
    }
}

.form-b {
    font-size: 0;
    padding: 52px 33px 48px;
    box-sizing: border-box;
    position: relative;
    background: #fff;
    z-index: 100;

    @media all and (max-width: 767px) {
        padding: 48px 20px;
    }

    .title {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 100%;
        text-transform: uppercase;
        color: #0C395F;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        padding-bottom: 14px;
    }

    .text {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 100%;
        color: #0C395F;
        padding-bottom: 52px;
    }
}

.menu_burger {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 340px;
    z-index: 100;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
    background: #1B1E2A ;
    font-size: 0;
    opacity: 0;
    box-shadow: 0 0 0 6000px rgba(#1E193D, .8);

    &.opened {    
        opacity: 1;
        visibility: visible;
    }

    .menu_scroll {
        overflow: auto;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        bottom: 0; 
    }

    .menuClose {
        position: absolute;
        top: 7px;
        right: 10px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        box-sizing: border-box;
        background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.7071 2.70711C23.0976 2.31658 23.0976 1.68342 22.7071 1.29289C22.3166 0.902369 21.6834 0.902369 21.2929 1.29289L22.7071 2.70711ZM1.29289 21.2929C0.902369 21.6834 0.902369 22.3166 1.29289 22.7071C1.68342 23.0976 2.31658 23.0976 2.70711 22.7071L1.29289 21.2929ZM2.70711 1.29289C2.31658 0.902369 1.68342 0.902369 1.29289 1.29289C0.902369 1.68342 0.902369 2.31658 1.29289 2.70711L2.70711 1.29289ZM21.2929 22.7071C21.6834 23.0976 22.3166 23.0976 22.7071 22.7071C23.0976 22.3166 23.0976 21.6834 22.7071 21.2929L21.2929 22.7071ZM21.2929 1.29289L1.29289 21.2929L2.70711 22.7071L22.7071 2.70711L21.2929 1.29289ZM1.29289 2.70711L21.2929 22.7071L22.7071 21.2929L2.70711 1.29289L1.29289 2.70711Z' fill='white'/%3E%3C/svg%3E%0A") 50% no-repeat;    
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            padding: 2px 0;
           

            > a {
                display: block;
                font-style: normal;
                font-size: 18px;
                line-height: 27px;
                color: #FFFFFF;
                padding: 10px 16px;
                text-decoration: none;
                position: relative;
            
                &:hover {
                    text-decoration: underline;
                }

                .arrow {
                    position: absolute;
                    top: 0;
                    bottom: 2px;
                    right: 16px;
                    width: 24px;
                    height: 24px;
                    margin: auto;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        width: 10px;
                        height: 10px;
                        border: solid #fff;
                        border-width: 0 2px 2px 0;
                        transform: rotate(45deg);
                        margin: auto;
                    }
                }
            }

            ul {
                display: none;
                padding: 10px 26px;
                margin: 0;
                list-style: none;

                li {
                    padding: 4px 0;

                    a {
                        display: block;
                        font-style: normal;
                        font-size: 16px;
                        line-height: 20px;
                        color: #FFFFFF;
                        padding: 0 16px;
                        text-decoration: none;
                        position: relative;
                    }
                }
            }

            &.hasSubmenu {
                ul {
                    display: block;
                }
            }
        }
    }
}

.site_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.content_block_wr {
    flex: 1 1 auto;
}

.btn {
    display: block;
    border: none;
    height: 60px;
    line-height: 56px;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
    outline: none;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s;
    text-align: center;
    cursor: pointer;
    font-family: $gb;
    text-decoration: none;
    position: relative;
    background: #7728e6;
    border-radius: 30px;

    &:hover {
    }

    &.border {
        border: 2px solid #fff;
        color: #fff;
        background: none;
        height: 60px;
        line-height: 56px;
        padding: 0 20px;
        display: inline-block;
        vertical-align: top;
    }
}

.header {
    padding: 0 16px;
    min-height: 813px;
    background: url(../images/bg_head.jpg) 50% no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    position: relative;

    &.inner_head_contact {
        min-height: 200px;
        background: #000;
    }

    &.header_service {
        background: url(../images/ser_bg.jpg) 50% no-repeat;
        background-size: cover;
        min-height: 550px;
    }

    &.header_about {
        background: url(../images/bg_about.jpg) 50% no-repeat;
        background-size: cover;
        min-height: 550px;

        .header_inner {

            .title {
                max-width: 100%;

                strong {
                    display: inline;
                }
            }
        }
    }

    @media all and (max-width: 1200px){
        padding-left: 0;
        min-height: 400px;
    }

    @media all and (max-width: 1000px) {
        padding-bottom: 30px;
    }

    .block_inner {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;
        position: relative;

        @media all and (max-width: 1200px){
            padding-top: 20px;
        }

        .logo {
            flex: 0 0 292px;
            position: relative;
            padding-left: 18px;
            margin-right: 95px;
            padding-top: 3px;



            &:before {
                content: '';
                position: absolute;
                top: -50px;
                left: 0;
                width: 54px;
                height: 150px;
                background: #7728e6;
            }

            @media all and (max-width: 1200px){
                margin-right: 30px;
                flex: 0 0 200px;

                &:before {
                    height: 100px;
                    top: -20px;
                }
            }

            a {
                display: inline-block;
                text-decoration: none;
                position: relative;
            }
        }

        .sos_block{
            font-size: 0;
            flex: 0 0 160px;
            padding: 30px 0 0;

            @media all and (max-width: 1200px){
                padding-top: 10px;
                flex: 0 0 130px;
            }

            @media all and (max-width: 1000px){
                display: none;
            }

            a {
                display: inline-block;
                vertical-align: top;
                text-decoration: none;
                margin-right: 14px;
            }
        }
    }

    .contacts{
        text-align: right;
        flex: 0 0 auto;
        padding-top: 20px;

        @media all and (max-width: 1200px){
            padding-top: 10px;
        }

        @media all and (max-width: 1000px){
            display: none;
        }

        .phone {
            font-family: $gsb;
            color: #fff;
            font-size: 23px;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #fff;
            }
        }

        .call_btn {
            display: inline-block;
            vertical-align: top;
            padding-bottom: 6px;
            padding-left: 33px;
            position: relative;
            border-bottom: 1px dashed #7728e6;
            font-family: $gm;
            font-size: 16px;
            color: #7358da;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 23px;
                height: 11px;
                background: url(../images/call.png) 50% no-repeat;
            }
        }
    }
}

.menu_top_header {
    flex: 1 1 auto;
    padding: 30px 0;
    font-size: 0;

    @media all and (max-width: 1200px){
        padding: 10px 0;
    }

    > ul {
        padding: 0;
        margin: 0;
        list-style: none;

        @media all and (max-width: 1000px){
            display: none;
        }

        > li {
            display: inline-block;
            vertical-align: top;

            > a {
                display: flex;
                align-items: center;
                padding: 0 32px;
                position: relative;
                font-family: $gm;
                color: #fff;
                height: 36px;
                line-height: 36px;
                font-size: 16px;
                text-decoration: none;

                &:hover {
                    text-shadow: 0 0 1px #fff;
                }

                .arrow {
                    display: inline-block;
                    width: 9px;
                    height: 5px;
                    background: url(../images/arr.png) 50% no-repeat;
                    margin-left: 6px;
                }
            }

            ul {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                padding: 35px 0;
                margin: 0;
                list-style: none;
                display: flex;
                flex-wrap:wrap;
                justify-content: space-around;
                opacity: 0;
                visibility: hidden;

                &:after {
                    position: absolute;
                    top: -30px;
                    left: 0;
                    right: 0;
                    content: '';
                    height: 30px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -3000px;
                    right: -3000px;
                    background-color: rgba(0, 0, 0, .905);
                    border: solid rgba(119, 40, 230, .9);
                    border-width: 1px 0;
                }

                li {
                    position: relative;
                    flex: 0 0 27%;

                    a {
                        padding: 10px 0;
                        text-decoration: none;
                        display: inline-block;
                        height: auto;
                        line-height: 24px;
                        font-size: 16px;
                        color: #fff;
                        font-family: $gsb;

                        &:hover {
                            color: #7728e6;
                            font-family: $gsb;
                        }
                    }
                }
            }

            &:hover {
                > ul {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}

.header_inner{
    max-width: 1200px;
    margin: 0 auto;
    padding: 113px 0 0;

    @media all and (max-width: 1200px) {
        padding-left: 16px;
        padding-top: 50px;
    }

    .title {
        font-family: $gl;
        color: #fff;
        line-height: 1;
        font-size: 65px;
        max-width: 532px;
        padding-bottom: 33px;

        strong {
            font-family: $gbl;
            display: block;
        }

        @media all and (max-width: 1000px) {
            font-size: 35px;
            padding-bottom: 20px;
        }
    }

    .subtitle {
        padding-bottom: 67px;
        font-size: 20px;
        line-height: 1.3;

        @media all and (max-width: 1000px) {
            padding-bottom: 30px;
            font-size: 18px;
        }
    }

    .btn {
        width: 260px;
    }
}

.footer {
    background: #0f0f18;
    padding: 0 16px 30px;
    min-height: 280px;

    @media all and (max-width: 1200px){
        min-height: 100px;
    }

    .block_inner {
        display: flex;
        align-items: flex-start;
        padding-top: 50px;

        @media all and (max-width: 1200px){
            padding-top: 20px;
        }

        @media all and (max-width: 1000px){
            flex-wrap: wrap;
        }

        

        .logo {
            flex: 0 0 292px;
            position: relative;
            padding-left: 18px;
            margin-right: 81px;
            padding-top: 3px;

            @media all and (max-width: 640px) {
                display: none;
            }

            &:before {
                content: '';
                position: absolute;
                top: -50px;
                left: 0;
                width: 54px;
                height: 150px;
                background: #7728e6;
            }

            @media all and (max-width: 1200px){
                margin-right: 30px;
                flex: 0 0 200px;

                &:before {
                    height: 100px;
                    top: -20px;
                }
            }

            @media all and (max-width: 1200px){
                flex: 1 1 auto;

                a {
                    max-width: 200px;
                }
            }

            a {
                display: inline-block;
                text-decoration: none;
                position: relative;
            }
        }

        .sos_block{
            font-size: 0;

            a {
                display: inline-block;
                vertical-align: top;
                text-decoration: none;
                margin-left: 14px;
            }
        }

        .footer_text {
            flex: 1 1 auto;
            font-family: $gm;
            font-size: 16px;
            color: #fff;
            padding-right: 20px;
            line-height: 23px;
            padding-top: 18px;

            .inner {
                max-width: 482px;
            }

            @media all and (max-width: 1200px){
                padding-top: 10px;
            }

            @media all and (max-width: 1000px){
                flex: none;
                order: 1;
                width: 100%;
                text-align: center;
                padding: 20px 0 0;

                .inner {
                    max-width: 100%;
                }
            }
        }

        .contacts{
            text-align: right;
            flex: 0 0 auto;
            padding-top: 20px;

            @media all and (max-width: 1200px){
                padding-top: 10px;
            }

            @media all and (max-width: 640px) {
                text-align: center;
                flex: none;
                width: 100%;
            }

            .phone {
                font-family: $gsb;
                color: #fff;
                font-size: 27px;
                margin-bottom: 26px;

                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}

.service_block_items {
    padding: 0 16px;

    .block_inner {
        padding: 115px 0 90px;

        @media all and (max-width: 1200px){
            padding: 40px 0;
        }

        .title {
            text-align: center;
            font-size: 57px;
            color: #fff;
            font-family: $gbl;
            padding-bottom: 75px;

            @media all and (max-width: 1200px) {
                font-size: 30px;
                padding-bottom: 30px;
            }
        }

        .inner {
            display: flex;
            flex-wrap:wrap;
            margin: 0 -13px;

            @media all and (max-width: 600px){
                display: block;
                margin: 0;
            }

            .item {
                text-decoration: none;
                flex: 0 0 calc(33.33% - 26px);
                margin: 0 13px 30px;
                background: #141416;
                padding: 62px 47px 36px;
                color: #fff;
                display: block;
                position: relative;

                @media all and (max-width: 1200px){
                    padding: 20px;
                }

                @media all and (max-width: 1000px){
                    flex: 0 0 calc(50% - 26px);
                    margin-bottom: 24px;
                }

                @media all and (max-width: 600px){
                    margin: 0 0 20px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 26px;
                    width: 54px;
                    background: #7728e6;
                    opacity: 0;
                    transition: all 0.3s;
                }

                &:hover {
                    &:before {
                        opacity: 1;
                    }
                }

                span {
                    display: block;
                    position: relative;
                }

                .icon {
                    height: 64px;
                    margin-bottom: 28px;
                }

                .name {
                    font-family: $gb;
                    font-size: 22px;
                    padding-bottom: 12px;
                }

                .text {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

.garant_block_wr{
    padding: 0 16px;
    background: url(../images/bg_gar.jpg) 50% no-repeat;
    background-size: cover;

    @media all and (max-width: 767px) {
        background: #000;
    }

    .block_inner {
        padding: 66px 0 85px;

        @media all and (max-width: 767px) {
            padding: 30px 0;
        }

        .left {
            max-width: 560px;
        }

        .title {
            font-family: $gbl;
            font-size: 57px;
            color: #fff;
            padding-bottom: 28px;
            line-height: 1.1;

            @media all and (max-width: 767px) {
                font-size: 30px;
                padding-bottom: 20px;
            }
        }

        .text {
            font-size: 20px;
            color: #fff;
            line-height: 28px;
            padding-bottom: 39px;

            @media all and (max-width: 767px) {
                padding-bottom: 20px;
            }
        }

        .list {
            font-size: 16px;
            color: #fff;
            line-height: 22px;
            padding: 0 0 50px;

            ul {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    padding-left: 34px;
                    margin-bottom: 14px;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 7px;
                        left: 0;
                        width: 7px;
                        height: 7px;
                        background: #fff;
                        border-radius: 50%;
                    }
                }
            }
        }

        .btn {
            width: 260px;
        }
    }
}

.bottom_form_wr{
    background: url(../images/form_bg.jpg) 50% no-repeat;
    background-size: cover;
    padding: 0 16px;

    .block_inner {
        padding: 85px 0 100px;
        display: flex;

        @media all and (max-width: 1000px) {
            padding: 40px 0;
        }

        @media all and (max-width: 767px) {
            display: block;
        }

        .left {
            flex: 1 1 auto;
            padding-right: 20px;

            @media all and (max-width: 1000px){
                padding: 0 0 30px;
            }

            .title {
                font-family: $gbl;
                font-size: 57px;
                color: #fff;
                padding-bottom: 62px;
                line-height: 1.1;
                padding-top: 26px;

                @media all and (max-width: 1000px) {
                    font-size: 30px;
                    padding-bottom: 20px;
                    padding-top: 0;
                }
            }

            .text {
                font-size: 20px;
                color: #fff;
                line-height: 28px;
            }

            .phone {
                font-size: 20px;
                color: #fff;
                line-height: 28px;
                padding-top: 30px;

                a {
                    display: inline-block;
                    vertical-align: top;
                    padding-left: 33px;
                    position: relative;
                    font-family: $gm;
                    font-size: 21px;
                    color: #fff;
                    margin-left: 14px;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 6px;
                        left: 0;
                        width: 23px;
                        height: 11px;
                        background: url(../images/call.png) 50% no-repeat;
                    }
                }
            }
        }

        .right {
            flex: 0 0 422px;

            @media all and (max-width: 1000px){
                flex: 0 0 350px;
            }
        }

        .field.checkbox {
            padding: 30px 0;

            label {
                font-size: 14px;
            }
        }

        .btn {
            width: 255px;
        }
    }
}

.what_is_block {
    padding: 0 16px;
    background: url(../images/block_bg.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:before {
        content: attr(data-title);
        position: absolute;
        bottom: 0;
        right: -150px;
        font-family: $gsb;
        color: #fff;
        opacity: .01;
        font-size: 117px;
        transform: rotate(-90deg);
        transform-origin: left;

        @media all and (max-width: 1200px){
            display: none;
        }
    }

    &.black {
        background: url(../images/black_bg.jpg) 50% no-repeat;
        background-size: cover;

        &:before {
            right: auto;
            left: 100px;
            color: #1d1d22;
            opacity: .2;
        }
    }

    .block_inner {
        display: flex;
        flex-wrap: wrap;
        padding: 72px 0 118px;
        position: relative;

        @media all and (max-width: 1200px){
            padding: 40px 0;
        }

        @media all and (max-width: 1000px) {
            display: block;
        }

        .left {
            flex: 0 0 410px;
            margin-right: 186px;

            @media all and (max-width: 1200px){
                margin-right: 30px;
            }

            @media all and (max-width: 1000px) {
                margin-right: 0;
            }

            .title {
                font-family: $gbl;
                font-size: 57px;
                color: #fff;
                padding-bottom: 82px;
                line-height: 1.1;
                padding-top: 26px;

                @media all and (max-width: 1000px) {
                    font-size: 30px;
                    padding-bottom: 20px;
                    padding-top: 0;
                }
            }

            img {
                border-radius: 6px;
            }
        }

        .right {
            flex: 0 0 calc(100% - 596px);
            font-size: 15px;
            line-height: 26px;
            color: #fff;
            padding-top: 29px;

            @media all and (max-width: 1200px){
                flex: 0 0 calc(100% - 440px);
            }

            p{
                margin: 0;
            }

            ul {
                margin: 0;
                padding: 30px 0;
                list-style: none;

                li {
                    padding-left: 23px;
                    margin-bottom: 6px;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: 0;
                        width: 12px;
                        height: 13px;
                        background: url(../images/mark.png) 50% no-repeat;
                    }
                }
            }

            .list {
                padding: 50px 0 30px;
                display: flex;
                flex-wrap:wrap;

                @media all and (max-width: 1200px){
                    padding: 20px 0;
                }

                @media all and (max-width: 1000px) {
                    display: block;
                }

                .item {
                    flex: 0 0 calc(50% - 25px);
                    font-size: 16px;
                    line-height: 24px;
                    color: #fff;
                    margin-bottom: 20px;

                    span {
                        border-bottom: 2px solid #7728e6;
                    }
                }
            }

            .btn {
                width: 250px;
                line-height: 60px;
            }
        }

        .text_bottom {
            flex: none;
            width: 100%;
            padding: 100px 0 0;
            font-size: 16px;
            line-height: 26px;
            color: #fff;

            @media all and (max-width: 1200px){
                padding-top: 30px;
            }
        }
    }
}

.preim_block{
    padding: 0 16px;
    background: url(../images/black_bg.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:before {
        content: attr(data-title);
        position: absolute;
        bottom: 0;
        font-family: $gsb;
        left: 100px;
        color: #1d1d22;
        opacity: .2;
        font-size: 117px;
        transform: rotate(-90deg);
        transform-origin: left;

        @media all and (max-width: 1200px){
            display: none;
        }
    }

    .block_inner {
        padding: 72px 0 90px;
        position: relative;

        @media all and (max-width: 1200px){
            padding: 40px 0;
        }

        .title {
            font-family: $gbl;
            font-size: 57px;
            color: #fff;
            padding-bottom: 60px;
            line-height: 1.1;
            padding-top: 26px;

            @media all and (max-width: 1000px) {
                font-size: 30px;
                padding-bottom: 20px;
                padding-top: 0;
            }
        }

        .inner {
            display: flex;
            justify-content: space-between;
            flex-wrap:wrap;

            .item {
                flex: 0 0 20%;
                margin-bottom: 20px;

                @media all and (max-width: 1000px) {
                    flex: 0 0 46%;
                }

                .name {
                    font-family: $gbl;
                    font-size: 42px;
                    color: #7728e6;
                    padding-bottom: 18px;

                    @media all and (max-width: 1000px) {
                        font-size: 28px;
                    }
                }

                .text {
                    font-size: 16px;
                    line-height: 24px;
                    color: #fff;
                }
            }
        }
    }
}

.block_404 {
    padding: 0 16px;
    background: url(../images/block_bg.jpg) 50% no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;

    &:before {
        content: attr(data-title);
        position: absolute;
        bottom: 0;
        right: -150px;
        font-family: $gsb;
        color: #fff;
        opacity: .01;
        font-size: 117px;
        transform: rotate(-90deg);
        transform-origin: left;

        @media all and (max-width: 1200px){
            display: none;
        }
    }

    .block_inner {
        padding: 120px 0;
        text-align: center;

        .title {
            font-family: $gbl;
            font-size: 57px;
            color: #fff;
            padding-bottom: 20px;
            line-height: 1.1;

            @media all and (max-width: 1000px) {
                font-size: 30px;
                padding-bottom: 20px;
            }
        }

        .text {
            padding: 40px 30px;
            font-size: 16px;
            color: #fff;
        }

        .btn {
            width: 250px;
        }
    }
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}