include _header_inner.jade
	<div class="block_404" data-title="not found">
		<div class="block_inner">
			<div class="title">Страница не найдена</div>
			<div class="img">
				<img src="images/404.png" alt="">
			</div>
			<div class="text">Такой страницы не существует</div>
			<a href="/" class="btn">Вернуться на главную</a>
		</div>
	</div>
include _footer.jade