</div>
<div class="footer">
	<div class="block_inner">
		<div class="logo">
			<a href="#">
				<img src="images/logo.png" alt="">
			</a>
		</div>
		<div class="footer_text">
			<div class="inner">Здесь написать об ИП Романов текст, которые нацелены на разработку программного обеспечения с нуля вместо покупки и расширения готового коммерческого продукта. Наши заказчики и проекты очень разные.</div>
		</div>
		<div class="contacts">
			<div class="phone">
				<a href="tel:+7 (499) 660-90-60">+7 (499) 660-90-60</a>
			</div>
			<div class="sos_block">
				<a href="">
					<img src="images/vk.png" alt="">
				</a>
				<a href="">
					<img src="images/tg.png" alt="">
				</a>
			</div>
		</div>
	</div>
</div>
</div>
<script src="js/main.js" async></script>
</body>
</html>