<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Тайтл</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<nav class="menu_burger">
	<div class="menuClose"><span></span></div>
	<div class="menu_scroll">
		<ul>
			<li>
				<a href="">О нас</a>
			</li>
			<li>
				<a href="">Услуги</a>
				<ul>
					<li><a href="">Монтаж и обслуживание систем видеонаблюдения</a></li>
					<li><a href="">Разработка программного обеспечения любой сложности</a></li>
					<li><a href="">Монтаж и проектирование слаботочных сетей</a></li>
					<li><a href="">Система мониторинга “EagleMonitor”</a></li>
					<li><a href="">IT-аутсорсинг</a></li>
					<li><a href="">Монтаж и обслуживание охранных и охранно-пожарных сигнализаций</a></li>
				</ul>
			</li>
			<li>
				<a href="">Контакты</a>
			</li>
		</ul>
	</div>
</nav> 
<div class="site_wrapper">
	<div class="header">
		<div class="block_inner">
			<div class="logo">
				<a href="#">
					<img src="images/logo.png" alt="">
				</a>
			</div>
			<div class="sos_block">
				<a href="">
					<img src="images/vk.png" alt="">
				</a>
				<a href="">
					<img src="images/tg.png" alt="">
				</a>
			</div>
			<div class="menu_top_header">
				<ul>
					<li>
						<a href="">О нас</a>
					</li>
					<li>
						<a href="">Услуги</a>
						<ul>
							<li><a href="">Монтаж и обслуживание систем видеонаблюдения</a></li>
							<li><a href="">Разработка программного обеспечения любой сложности</a></li>
							<li><a href="">Монтаж и проектирование слаботочных сетей</a></li>
							<li><a href="">Система мониторинга “EagleMonitor”</a></li>
							<li><a href="">IT-аутсорсинг</a></li>
							<li><a href="">Монтаж и обслуживание охранных и охранно-пожарных сигнализаций</a></li>
						</ul>
					</li>
					<li>
						<a href="">Контакты</a>
					</li>
				</ul>
			</div>
			<div class="contacts">
				<div class="phone">
					<a href="tel:+7 (499) 660-90-60">+7 (499) 660-90-60</a>
				</div>
				<div class="call_btn">Заказать звонок</div>
			</div>
			<div class="burger"></div>
		</div>
		<div class="header_inner">
			<div class="title">Технологии <strong>видеонаблюдения и контроля</strong></div>
			<div class="subtitle">Большой спектр услуг: инженерия, програмное <br>обеспечение, сервис и многое другое.</div>
			<a href="" class="btn border">Узнать больше</a>
		</div>
	</div>
	<div class="content_block_wr">