include _header_about.jade
	<div class="what_is_block" data-title="романово">
		<div class="block_inner">
			<div class="left">
				<div class="title">Разработка <br>современных <br>решений</div>
			</div>
			<div class="right">
				<p>Повседневная практика показывает, что консультация с широким активом в значительной степени обуславливает создание существенных финансовых и административных условий. Задача организации, в особенности же реализация намеченных плановых заданий способствует подготовки и реализации существенных финансовых и административных условий.</p>
				<div class="list">
					<div class="item">
						<span>Монтаж и обслуживание систем видеонаблюдения</span>
					</div>
					<div class="item">
						<span>Разработка программного обеспечения любой сложности</span>
					</div>
					<div class="item">
						<span>Система мониторинга “EagleMonitor”</span>
					</div>
					<div class="item">
						<span>Монтаж и обслуживание охранных и  охранно-пожарных сигнализаций</span>
					</div>
					<div class="item">
						<span>Монтаж и проектирование слаботочных сетей</span>
					</div>
					<div class="item">
						<span>IT-аутсорсинг</span>
					</div>
				</div>
				<a href="#" class="btn">Оставить заявку</a>
			</div>
		</div>
	</div>
	<div class="preim_block"  data-title="ФАКТЫ">
		<div class="block_inner">
			<div class="title">Наша компания - это</div>
			<div class="inner">
				<div class="item">
					<div class="name">670</div>
					<div class="text">удачных кейсов <br>за 2022 год</div>
				</div>
				<div class="item">
					<div class="name">10 лет</div>
					<div class="text">успешной <br>работы</div>
				</div>
				<div class="item">
					<div class="name">50</div>
					<div class="text">лучших <br> специалистов</div>
				</div>
				<div class="item">
					<div class="name">7 наград</div>
					<div class="text">какой-то <br> факт</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom_form_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Остались вопросы? <br>Поможем!</div>
				<div class="text">Оставьте свои контактные данные, <br>мы свяжемся с Вами в ближайшее <br>время и ответим на все вопросы</div>
			</div>
			<div class="right">
				<form action="">
					<div class="field">
						<input type="text" placeholder="Ваше имя*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox">
							<span></span>Нажимая на кнопку “Заказать консультацию” я принимаю условия политики конфиденциальности.
						</label>
					</div>
					<button class="btn">Заказать консультацию</button>
				</form>
			</div>
		</div>
	</div>
include _footer.jade