include _header_inner.jade
	<div class="bottom_form_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Пообщаемся? <br>Мы на связи!</div>
				<div class="text">Оставьте свои контактные данные, <br>мы свяжемся с Вами в ближайшее <br>время и ответим на все вопросы</div>
				<div class="phone">или <a href="tel:+7 (499) 660-90-60">+7 (499) 660-90-60</a></div>
			</div>
			<div class="right">
				<form action="">
					<div class="field">
						<input type="text" placeholder="Ваше имя*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox">
							<span></span>Нажимая на кнопку “Заказать консультацию” я принимаю условия политики конфиденциальности.
						</label>
					</div>
					<button class="btn">Заказать консультацию</button>
				</form>
			</div>
		</div>
	</div>
include _footer.jade