include _header.jade
	<div class="service_block_items">
		<div class="block_inner">
			<div class="title">Наши услуги</div>
			<div class="inner">
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser1.png" alt="">
					</span>
					<span class="name">Монтаж и обслуживание</span>
					<span class="text">систем видеонаблюдения</span>
				</a>
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser2.png" alt="">
					</span>
					<span class="name">Монтаж и обслуживание</span>
					<span class="text">охранных и охранно-пожарных сигнализаций</span>
				</a>
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser3.png" alt="">
					</span>
					<span class="name">Eagle Monitor</span>
					<span class="text">система мониторинга</span>
				</a>
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser4.png" alt="">
					</span>
					<span class="name">IT-аутсорсинг</span>
					<span class="text">полный спектр информационно- технических услуг</span>
				</a>
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser5.png" alt="">
					</span>
					<span class="name">Проектирование и монтаж</span>
					<span class="text">слаботочных сетей</span>
				</a>
				<a href="" class="item">
					<span class="icon">
						<img src="images/ser6.png" alt="">
					</span>
					<span class="name">Программное обеспечение</span>
					<span class="text">разработка любой сложности</span>
				</a>
			</div>
		</div>
	</div>
	<div class="garant_block_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Гарантируем <br> безопасность</div>
				<div class="text">ИП Романов А.В. -  для своих клиентов предлагает полный спектр информационно-технических услуг, здесь какой-то текст немного о нас рассказать о компании.</div>
				<div class="list">
					<ul>
						<li>Всегда предоставляем обязательную гарантию</li>
						<li>Максимально учитываем специфику работы предприятия и потребности клиента</li>
						<li>Только опытные и высококвалифицированные специалисты</li>
					</ul>
				</div>
				<a href="#" class="btn border">Больше о нас</a>
			</div>
		</div>
	</div>
	<div class="bottom_form_wr">
		<div class="block_inner">
			<div class="left">
				<div class="title">Остались вопросы? <br>Поможем!</div>
				<div class="text">Оставьте свои контактные данные, <br>мы свяжемся с Вами в ближайшее <br>время и ответим на все вопросы</div>
			</div>
			<div class="right">
				<form action="">
					<div class="field">
						<input type="text" placeholder="Ваше имя*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field">
						<input type="text" placeholder="Ваш телефон*" required>
					</div>
					<div class="field checkbox">
						<label>
							<input type="checkbox">
							<span></span>Нажимая на кнопку “Заказать консультацию” я принимаю условия политики конфиденциальности.
						</label>
					</div>
					<button class="btn">Заказать консультацию</button>
				</form>
			</div>
		</div>
	</div>
include _footer.jade