include _header_service.jade
	<div class="what_is_block" data-title="Что это">
		<div class="block_inner">
			<div class="left">
				<div class="title">Что это такое?</div>
				<div class="image">
					<img src="images/pic.png" alt="">
				</div>
			</div>
			<div class="right">
				<p>Это программно-аппаратный комплекс, объединяющий в себе множество функций таких как:</p>
				<ul>
					<li>Аудио/Видео контроль за объектами недвижимости и сотрудниками</li>
					<li>Система распознавания лиц</li>
					<li>Система распознавания голоса</li>
					<li>Система противопожарной охраны объектов</li>
					<li>СКУД</li>
					<li>Распознавание угроз </li>
					<li>Охранная система</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="what_is_block black" data-title="УСЛУГА">
		<div class="block_inner">
			<div class="left">
				<div class="title">Что вы <br>получите?</div>
			</div>
			<div class="right">
				<p>Это программно-аппаратный комплекс, объединяющий в себе множество функций таких как:</p>
				<ul>
					<li>Аудио/Видео контроль за объектами недвижимости и сотрудниками</li>
					<li>Система распознавания лиц</li>
					<li>Система распознавания голоса</li>
					<li>Система противопожарной охраны объектов</li>
					<li>СКУД</li>
					<li>Распознавание угроз </li>
					<li>Охранная система</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="what_is_block" data-title="уникален">
		<div class="block_inner">
			<div class="left">
				<div class="title">Чем уникален <br>наш продукт?</div>
				<div class="image">
					<img src="images/pic.png" alt="">
				</div>
			</div>
			<div class="right">
				<p>Это программно-аппаратный комплекс, объединяющий в себе множество функций таких как:</p>
				<ul>
					<li>Аудио/Видео контроль за объектами недвижимости и сотрудниками</li>
					<li>Система распознавания лиц</li>
					<li>Система распознавания голоса</li>
					<li>Система противопожарной охраны объектов</li>
					<li>СКУД</li>
					<li>Распознавание угроз </li>
					<li>Охранная система</li>
				</ul>
			</div>
			<div class="text_bottom">Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезизвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия. <br><br>По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых людей недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен.</div>
		</div>
	</div>
include _footer.jade